<div id="message"></div>

<h1>My Favorites</h1>

<% unless @favorites.empty? %>
<table id="favorites">
  <tr id="favorite_table_header_row">
    <th>Title</th>
    <th></th>
  </tr>

  <% @favorites.each do |favorite| %>
    <tr>
      <%= render @favorites %>
    </tr>
  <% end %>
</table>
<% else %>
  <span><%= t('favorites.messages.none') %></span>
<% end %>
