<div id="message"></div>
<br/>
<br/>
<%= link_to("Manage Account Settings", edit_user_registration_path) %>
<br/>
<br/>
<br/>
<h3>My Favorites</h3>
<div id="favorites">
  <% unless @favorites.empty? %>
    <table>
      <tr id="favorite_table_header_row">
        <th>Name</th>
        <th></th>
      </tr>
      <%= render @favorites %>
    </table>
  <% else %>
    <span><%= t('favorites.messages.none') %></span>
  <% end %>
</div>
<br/>
<br/><h3>Uploaded Resources</h3>
<%= render @resources %>
<br/>
<br/>