<div id="message"></div>
<br/>
<br/>
<%= link_to("Manage Account Settings", edit_user_registration_path) %>
<br/>
<br/>
<br/>
<h3>My Favorites</h3>
<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <%= render @favorites %>
</table>
<br/>
<br/><h3>Uploaded Resources</h3>
<%= render @resources %>
<br/>
<br/>