How to Share
<ol>
<li><%= link_to('Register', user_registration_path) %> as a LessonPouch user</li>
<li><%= link_to('Share', new_resource_path) %> your documents with the world.  All for free.</li>
</ol>

How to Download Teacher Resources
<ol>
<li><%= link_to('Register', user_registration_path) %> as a LessonPouch user</li>
<li><%= link_to('Share', new_resource_path) %> at least one resource with the LessonPouch community (see section above).</li>
<li>Download as many documents as you like.  Did we mention it's free?</li>
</ol>