Sorry Charlie...we couldn't find the page you were looking for.

Maybe if you go back to the <%= link_to "Home Page", root_path %> you can find what you're looking for.<br/>
<br/>
<br/>
<span id="quote"><b><%= @random_quote.message %></b></span><br/>
<span id="author">-<%= @random_quote.author%></span>
