// Place all the styles related to the Resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.resource_description{
  color: #61AE24;
}

.resource_attachments{
  color: #999999;
}
.resource_highlight{
  font-weight: bold; 
}

