* {
  margin: 0;
}
html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 60px; /* .push must be the same height as .footer */
}

.footer{
  background: #eeeeee;
}

ul#primary_menu{
  width: 100%;
  list-style-type: none;
  height: 20px;
  background:#cccccc;
  padding-top: 6px;
  padding-bottom: 6px;
}

#primary_menu li{
  width: 130px;
  text-align: center;
  display: inline-block;
}

#footer_menu ul{
  width: 100%;
  list-style-type: none;
}

#footer_menu li{
  display: inline;
}


#left {
    float:left;
    width:150px;
    margin:0; padding:0;
    }
  #right {
    float:right;
    width:150px;
    margin:0; padding:0;
    background:red;
    }
  #middle {
    /*margin:0 150px;*/
    margin-left:150px;
    margin-right:150px;
    background:yellow;
    }
  .column-in {
    margin:0; 
    /*padding:0.5em 1em;*/
    }